/* Custom styles added to demo */

.twitter-tweet {
    margin: auto;
}

iframe {
    border-radius: var(--radius) !important;
}

.home-info ul {
    padding-inline-start: 20px;
}

.entry-cover img {
    border: 1px solid var(--border);
}

/* This hides the RSS link in the navigation menu and footer */
nav a[href$="/index.xml"], 
footer a[href$="/index.xml"],
.rss-link {
    display: none !important;
}