{{ define "main" }}
<main>
  <h1>{{ .Title }}</h1>
  
  <div class="section-content">
    {{ .Content }}
  </div>

  <ul class="blog-posts">
    {{ range .Pages }}
    <li>
      <span>
        <i>
          <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>
            {{ .Date.Format (default "Jan 02, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>No posts yet.</li>
    {{ end }}
  </ul>
</main>
{{ end }}